/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@500&family=Redacted+Script:wght@300;400;700&display=swap');



/* end google font- */

body{
    font-family: sans-serif;
   
}
*{
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

/* header-part-start */

.navbar {
    display: flex;
    width: 100%;
    height: 125px;
}
.navbar h1 {
    margin-top: 95px;
    margin-left: 120px;
    font-size: 24px;
}

.navbar span {
    margin-left: 50%;
    margin-top: 95px;
}

.navbar span a {
    font-size: 16px;
    font-weight: 600;
    margin-left: 45px;
    text-decoration: none;
    color: #3A3A3A;
}
/* header-part-end */

/* section part1 */
.all-parts{
    display: flex;
}
.h1-p-button{
    width: 50%;
    
    margin-left: 113px;
    
}
.h1-p-button h1 {
    font-size: 52px;
    width: 582px;
    height: 133px;
    line-height: 70px;
    font-weight: bold;
}
.h1-p-button p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #3A3A3A;
}
.h1-p-button button {
    width: 196px;
    height: 44px;
    background: #07ffba;
    border-radius: 40px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
}
.h1-p-button button:hover{
    background:  #E02C6D;
    transition: 0.3s;
}
.img-rightside{
    width: 50%;
}
.img-rightside img {
    margin-left: 250px;
    position: absolute;
    margin-top: 253px;
}

/* section part1 end */

/* section part 2 start */

.all-imgs {
    width: 1110px;
    height: 110px;
    left: 410px;
    top: 800px;
    position: absolute;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.for-aligment {
    text-align: center;
    margin-top: 35px;
}
.for-aligment img {
    margin-left: 65px;
}

/* section part 2 ended */

/* populat section part is started */
.all-popular-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.Popular-Collection {
    position: absolute;
    width: 1047px;
    height: 1662px;
    left: 445px;
    top: 1005px;
    
}

.collections {
    width: 329px;
    height: 476px;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.Popular-Collection h1 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 72px;
    margin-bottom: 30px;
}
.collections img {
    border-radius: 5px;
    margin-top: 15px;
}
.collections h2 {
    margin-left: 14px;
    width: 139px;
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
}
h2#dollar {
    font-size: 24px;
    line-height: 150%;
    margin: 0;
    width: 97px;
}
.rating {
    
width: 170px;    
display: block;   
margin-left: -8px;    
height: 32px;
margin-top: 10px;
}
.rating-numbers {
    width: 50px;
    color: #5E6367;
    font-size: 14px;
    margin-left: 13px;
}
.rating i {
    color: #FB8200;
    font-size: 11px;
}
.span1 {
    float: left;
    width: 167px;
    font-weight: bold;
}

.span2 {
    float: left;
    width: 96px;
    font-weight: bold;
}

.span3 {
    width: 240px;
    float: left;
    font-weight: bold;
}
/* popular section part is ended */